<!DOCTYPE html>
<html>
  <head>
    <title>My Memo - Tasks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body class="task-display-pg">
    <% include header %>
    <div class="search-bar">
        <h3>Find a Task!</h3>
        <input id="search-input" type="text" name="search-input" placeholder="Search.."/>
        <input id="search-submit" type="submit" value="Search" />
        <h3 id="search-date-header">Or Search by Date...</h3>
        <input id="search-date-input" type="date" name="search-date-input"/>
        <input id="search-date-submit" type="submit" value="Search" />
    </div>
    <!-- Daily task list-->
    <div class="task-container-day">
        <div class="task-header-day">
            <h1 class="center">Tasks For the Day</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-day">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (tasklist[i].inProg) { %>
                    <div class="task-singular-container" data-task-inProg="true" data-task-id="<%= tasklist[i].id %>" data-task-description="<%= tasklist[i].description %>">
                        <button class="btn-delete"><i class="fas fa-minus-circle"></i></button>
                        <button class="btn-edit"><i class="fas fa-pencil-alt"></i></button>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= new Date(tasklist[i].finishBy + " PST").toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
            </div>
            <div class="add-singular-container">
            <a href=# class="add-task-day">Add a task</a>
        </div>
    </div>
    <!-- All tasks list -->
    <div class="task-container-all">
        <div class="task-header-all">
            <h1 class="center">Tasks Left (Total)</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-all">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (!tasklist[i].inProg) { %>
                    <div class="task-singular-container" data-task-inProg="false" data-task-id="<%= tasklist[i].id %>" data-task-description="<%= tasklist[i].description %>">
                        <button class="btn-delete"><i class="fas fa-minus-circle"></i></button>
                        <button class="btn-edit"><i class="fas fa-pencil-alt"></i></button>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= new Date(tasklist[i].finishBy + " PST").toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="add-singular-container">
            <a href=# class="add-task-all">Add a task</a>
        </div>
    </div>

    <!-- Add task modal -->
    <div class="add-modal-container">
        <div class="add-task-container">

            <button class="close-form"><a href=#>X</a></button>
            <h2 class="center">Add a Task</h2>

            <form class="add-task-form">
                <label class="prettylabel" for="task-title">Title:</label><br/>
                <input class="form-element"  id="task-title" type="text" name="title" placeholder="Title of Task" maxlength="40" required/><br/>
                <label class="prettylabel" for="task-desc">Description:</label><br/>
                <textarea class="form-element" id="task-desc" rows="5" cols="40" placeholder="Description (Optional)" maxlength="200"></textarea><br/>
                <label class="prettylabel" for="task-date">Finish by:</label><br/>
                <input class="form-element" id="task-date" type="date" name="finishBy"/><br/>

                <input class="btn-form-submit" type="reset" value="Clear"/>
                <input id="add-task-submit" class="btn-form-submit" type="submit" value="Add"/>
            </form>
        </div>

        <div class="modal-background"></div>
    </div>

    <!-- Edit task modal -->
    <div class="edit-modal-container">
        <div class="edit-task-container">

            <button class="close-form"><a href=#>X</a></button>
            <h2 class="center">Edit Task</h2>

            <form class="edit-task-form">
                <label class="prettylabel" for="edit-task-title">Title:</label><br/>
                <input class="form-element"  id="edit-task-title" type="text" name="title" placeholder="Title of Task" maxlength="40" required/><br/>
                <label class="prettylabel" for="edit-task-description">Description:</label><br/>
                <textarea class="form-element" id="edit-task-description" rows="5" cols="40" placeholder="Description (Optional)" maxlength="200"></textarea><br/>
                <label class="prettylabel" for="edit-task-date">Finish by:</label><br/>
                <input class="form-element" id="edit-task-date" type="date" name="finishBy"/><br/>

                <input class="btn-form-submit" type="reset" value="Clear"/>
                <input id="edit-task-submit" class="btn-form-submit" type="submit" value="Save"/>
            </form>
        </div>

        <div class="modal-background"></div>
    </div>
    
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>