<!DOCTYPE html>
<html>
  <head>
    <title>My Memo - Tasks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body class="task-display-pg">
    <% include header %>
    <div class="search-bar">

    </div>
    <!-- All tasks list -->
    <div class="task-container-all">
        <div class="task-header-all">
            <h1 class="center">Tasks Left (Total)</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-all">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (!tasklist[i].inProg) { %>
                    <div class="task-singular-container" data-task-inProg="false">
                        <button class="btn-delete" data-task-id="<%= tasklist[i].id %>"><i class="fas fa-minus-circle"></i></button>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= new Date(tasklist[i].finishBy + " PST").toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="task-singular-container">
            <a href=# class="add-task-all">Add a task</a>
        </div>
    </div>
    <!-- Daily task list-->
    <div class="task-container-day">
        <div class="task-header-day">
            <h1 class="center">Tasks For the Day</h1>
            <p class="task-title-header">Task</p>
            <p class="task-date-header">Finish By</p>
        </div>
        <div class="task-content-day">
            <% for (var i = 0; i < tasklist.length; i++) { %>
                <% if (tasklist[i].inProg) { %>
                    <div class="task-singular-container" data-task-inProg="true">
                        <button class="btn-delete" data-task-id="<%= tasklist[i].id %>"><i class="fas fa-minus-circle"></i></button>
                        <p class="task-title"><%= tasklist[i].title %></p>
                        <% if (tasklist[i].finishBy) { %>
                        <p class="task-date"><%= new Date(tasklist[i].finishBy + " PST").toDateString() %></p>
                        <% } else { %>
                        <p class="task-date">N/A</p>
                        <% } %>
                        <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
                    </div>
                <% } %>
            <% } %>
         </div>
         <div class="task-singular-container">
            <a href=# class="add-task-day">Add a task</a>
        </div>
    </div>

    <!-- Add task modal -->
    <div class="modal-container">
        <div class="add-task-container">

            <button class="close-form"><a href=#>X</a></button>
            <h2 class="center">Add a Task</h2>

            <form class="add-task-form">
                <label class="prettylabel" for="task-title">Title:</label><br/>
                <input class="form-element"  id="task-title" type="text" name="title" placeholder="Title of Task" required/><br/>
                <label class="prettylabel" for="task-desc">Description:</label><br/>
                <textarea class="form-element" id="task-desc" rows="5" cols="40" placeholder="Description (Optional)"></textarea><br/>
                <label class="prettylabel" for="task-date">Finish by:</label><br/>
                <input class="form-element" id="task-date" type="date" name="finishBy"/><br/>

                <input class="btn-form-submit" type="reset" value="Clear"/>
                <input class="btn-form-submit" type="submit" value="Add"/>
            </form>
        </div>

        <div class="modal-background"></div>
    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        // Form data references
        const title       = $('#task-title');
        const description = $('#task-desc');
        const finishBy    = $('#task-date');
        const addTaskForm = $('.add-task-form');
        const modalContain= $('.modal-container');
        const addTaskAll  = $('.add-task-all');
        const addTaskDay  = $('.add-task-day');
        const taskPage    = $('.task-display-pg');

        taskPage.on('click', '.btn-delete', function (e) {
            const id = $(this).attr('data-task-id');
            const button = $(this);

            $.ajax({
                method: 'DELETE',
                url: `/tasks/${id}`
            })
            .done(function(response) {
                button.parent().remove();
            })
            .fail(function(err) {
                console.log(err);
            });
        });
        taskPage.on('click', '.btn-task-switcher', function (e) {
            console.log('clicked!!!');
            const id = $(this).siblings('.btn-delete').attr('data-task-id');
            const inProg = $(this).parent().attr('data-task-inProg');
            const button = $(this);

            $.ajax({
                method: 'PATCH',
                url: `/tasks/${id}/inProg`,
                data: {
                    inProg: inProg
                }
            })
            .done(function(response) {
                button.parent().remove();
                // add task to other container
                const finishBy = button.siblings('.task-date').html();
                console.log(finishBy);
                const title    = button.siblings('.task-title').html();
                let allOrDay = 'day'
                if (inProg === 'true') {
                    allOrDay = 'all';
                }
                addTask(title, finishBy, id, allOrDay);
            })
            .fail(function(err) {
                console.log(err);
            });
        });
        addTaskAll.click(function(e) {
            modalContain.addClass('show');
            addTaskForm.attr('day', 'false');
        });
        addTaskDay.click(function(e) {
            modalContain.addClass('show');
            addTaskForm.attr('day', 'true');
        });
        modalContain.on('click', '.modal-background', function(e) {
            modalContain.removeClass('show');
        });
        $(".add-task-container").on('click', '.close-form', function(e) {
			modalContain.removeClass('show');
        });
        $(".add-task-form").submit(function(e) {
            e.preventDefault();
            var formData = {
                title   : title.val(),
                desc    : description.val(),
                finishBy: finishBy.val(),
                inProg  : addTaskForm.attr('day')
            };
            $.ajax({
                method: 'POST',
                url:    '/tasks',
                data:   formData
            })
            .done(function(newTask) {
                let allOrDay = 'all'
                if (formData.inProg === 'true') {
                    allOrDay = 'day';
                }
                if (newTask.finishBy) {
                    newTask.finishBy = new Date(newTask.finishBy + " PST").toDateString();
                }
                else {
                    newTask.finishBy = "N/A";
                }
                addTask(newTask.title, newTask.finishBy, newTask.id, allOrDay);
                modalContain.removeClass('show');
                clearTaskForm();
            })
            .fail(function(err) {
                console.log(err);
            });
        });

        var addTask = (title, date, id, allOrDay) => {
            let inProg = "true";
            if (allOrDay === "all")
                inProg = "false";
            $(`.task-content-${allOrDay}`).append(
            `<div class="task-singular-container" data-task-inProg=${inProg}>
                <button class="btn-delete" data-task-id="${id}"><i class="fas fa-minus-circle"></i></button>
                <p class="task-title">${title}</p>
                <p class="task-date">${date}</p>
                <i class="fas fa-arrows-alt-v btn-task-switcher"></i>
            </div>`);
        };

        var clearTaskForm = () => {
            title.val('');
            description.val('');
            finishBy.val('');
        };
    </script>
  </body>
</html>